.tweet-wrapper{
    border: 1px solid black;
    padding: 1rem;
    width: 600px;
    margin: 0 auto;
    font-size: larger;
}
.like-createdAt-wrapper{
    display: flex;
    justify-content: space-between;

}
.likes, .created-at {
    font-size: smaller;
}
.tweet-content{
    margin-bottom: 1rem;
}

.tweet-edit-wrapper{
    display: flex;
    justify-content: space-between;
}